doctype html

html(lang="en")
  head
    // Basic Page Needs 
    meta(charset="utf-8")
    title Code Snippets
    meta(name="description", content="Organise your code snippets.")
    meta(name="author", content="Alexander Craggs")

    // Mobile Specific Metas 
    meta(name="viewport", content="width=device-width, initial-scale=1")

    // Font
    link(href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet", type="text/css")

    // CSS
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css")
    link(rel="stylesheet", type="text/css", href="shared/normalize.css")
    link(rel="stylesheet", type="text/css", href="index/index.css")

    // Favicon
    link(rel="icon", type="image/png", href="shared/favicon.css")

  body
    .left
      .topleft
        p.center.title CODE SNIPPETS
        .dropdown
          button(class="btn btn-primary dropdown-toggle", type="button", data-toggle="dropdown").
            #{email}
            #[span(class="caret")]
          ul.dropdown-menu
            li
              a(href="#") Link 1
            li
              a(href="#") Link 2
            li
              a(href="#") Link 3
            li(role="separator", class="divider")
            li
              a(href="#") Link 4

      .bottomleft
        form(action="")
          input(id="m", autocomplete="off")
          button.
            Send Data (WHY???)

        if loggedIn
          p.
            Logged in as #{email}
          button(id="logout", onclick="logout()").
            Logout?
        else
          p.
            You are not logged in!
          button(id="login", onclick="login()").
            Login?

    .right
      h1.
        Tada!
      p.
        Hello, this is some data
        Isn't this cool?
        Wooo!

      p MENU
      ul
        li Hello
        li Hello
        li Hello

    script(src="//code.jquery.com/jquery-2.2.0.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/index/index.js")
